.auth {
  height: 100vh;
  background: url("/img/auth.jpg") right top no-repeat;
  -webkit-background-size: 39.38% 39.38%;
          background-size: 39.38%; }
  @media only screen and (max-width: 860px) {
    .auth {
      background: transparent; } }
  .auth__form {
    margin-top: 1rem;
    width: 61rem; }
    @media only screen and (max-width: 860px) {
      .auth__form {
        width: 100%; } }
  .auth__table {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed; }
  .auth__td {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    padding: 11.6rem 0;
    position: relative; }
    @media only screen and (max-width: 860px) {
      .auth__td {
        padding: 5rem 0; } }
  .auth__box {
    position: relative; }
  .auth__button-parent {
    width: 18.2rem;
    margin-right: 6rem; }
    @media only screen and (max-width: 560px) {
      .auth__button-parent {
        width: 100%;
        margin-right: 0; } }
  .auth__logo-column {
    left: 4.5rem;
    top: .4rem; }
  .auth__title {
    margin-bottom: 1rem; }
  .auth__link {
    padding-right: 0;
    padding-left: 3.2rem; }
    .auth__link .link-with-arrow__icon {
      width: 1.5rem;
      margin-top: -1.2rem;
      right: auto;
      left: 0;
      -webkit-transform: none !important;
          -ms-transform: none !important;
              transform: none !important; }

.user {
  padding-top: 5.5rem;
  padding-left: 3.1rem;
  padding-bottom: 3.5rem;
  padding-right: 3.1rem;
  border-bottom: 1px solid #3b3b3b;
  margin-bottom: 4rem; }
  .user__name {
    line-height: 1.8rem;
    font-size: 1.3rem;
    color: #e9e9e9;
    margin-bottom: .5rem;
    letter-spacing: .1rem;
    font-family: 'EuclidSquareMedium'; }
    .user__name:after {
      content: '';
      display: inline-block;
      margin-left: .9rem;
      width: 5px;
      height: 5px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #30bf4a; }
  .user__type {
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.2em;
    color: #959595;
    margin-bottom: .5rem; }
  .user__logout {
    float: right;
    font-size: 1.3rem;
    line-height: 1.8rem; }
    .user__logout a {
      color: #c4004b; }

.admin-logo {
  margin-bottom: 1.5rem; }
  .admin-logo__image {
    width: 2.5rem;
    margin-right: 1rem; }
    .admin-logo__image img {
      width: 100%; }
  .admin-logo__label {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-size: 1.8rem;
    margin-top: .2rem;
    color: #757575;
    font-family: 'EuclidSquareMedium'; }

.admin-head__content {
  position: relative; }
  @media only screen and (max-width: 768px) {
    .admin-head__content:before {
      margin-left: -2px; } }

.admin-head__bottom {
  position: relative; }
  .admin-head__bottom:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #3b3b3b; }
  @media only screen and (max-width: 560px) {
    .admin-head__bottom {
      border-bottom: 1px solid #3b3b3b; } }

.admin-head__cell {
  width: 50%; }
  .admin-head__cell_padding {
    padding: 3% 3% 3% 3%;
    border-bottom: 1px solid #3b3b3b; }

.admin-head__mobile-button {
  width: 100%;
  margin-top: 1rem; }

.admin-head__label {
  padding-left: 3.1rem; }
  @media only screen and (max-width: 560px) {
    .admin-head__label {
      padding-left: 6%; } }

.admin-head__small-logo {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 7.1rem;
  margin-left: 3rem;
  margin-bottom: -3.9rem; }

.admin-head__logo {
  position: relative;
  background-color: #1a1a1a; }

.admin-head__logo-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-height: 95.87%; }

.search {
  display: block;
  position: relative; }
  .search__button {
    position: absolute;
    left: 3rem;
    top: 50%;
    width: 2.5rem;
    background: transparent;
    border: none;
    cursor: url("/img/cursor_white.png") 27 27, pointer;
    margin-top: -1.3rem; }
    .search__button svg {
      fill: #ffffff;
      -webkit-transition: ease-out .25s;
      -o-transition: ease-out .25s;
      transition: ease-out .25s; }
    .search__button:hover svg {
      fill: #c4004b; }
    @media only screen and (max-width: 560px) {
      .search__button {
        left: 6%; } }
  .search__input {
    height: 12.1rem;
    display: block;
    width: 100%;
    padding-left: 7.6rem;
    padding-right: 5rem;
    font-size: 1.5rem;
    color: #fff;
    border: none;
    background: transparent;
    font-family: 'EuclidSquareRegular';
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .search__input::-webkit-input-placeholder {
      color: #959595; }
    .search__input::-moz-placeholder {
      color: #959595; }
    .search__input:-moz-placeholder {
      color: #959595; }
    .search__input:-ms-input-placeholder {
      color: #959595; }
    @media only screen and (max-width: 560px) {
      .search__input {
        height: 7rem;
        padding-left: 6rem;
        padding-right: 1rem;
        font-size: 1.4rem; } }

.sidebar {
  border-right: 1px solid #3b3b3b;
  height: 100%;
  position: relative; }
  .sidebar__info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 4.2rem;
    padding-top: 3rem;
    padding-right: 3rem;
    border-top: 1px solid #3b3b3b; }
  .sidebar__small {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #959595; }
  .sidebar__button {
    width: 79.41%; }
    .sidebar__button:after {
      padding-left: 14.81%;
      text-align: left !important;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-image: url("/img/admin/plus.png");
      background-position: 87% 50%;
      background-repeat: no-repeat; }
    @media only screen and (max-width: 768px) {
      .sidebar__button {
        width: 90%; }
        .sidebar__button:after {
          text-align: center !important;
          padding-left: 0;
          background-image: none; } }

.admin-case {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .admin-case__inner {
    width: -webkit-calc(100% + 4.1rem);
    width: calc(100% + 4.1rem);
    padding-right: -webkit-calc(4.1rem - 2px);
    padding-right: calc(4.1rem - 2px);
    overflow-y: auto;
    height: 100%; }
    @media only screen and (max-width: 1024px) {
      .admin-case__inner {
        width: 100%;
        padding-right: 0; } }
  .admin-case__item {
    vertical-align: baseline;
    width: 50%;
    padding: 4.07%;
    position: relative;
    -webkit-transition: ease-out .25s;
    -o-transition: ease-out .25s;
    transition: ease-out .25s;
    border-bottom: 1px solid #3b3b3b;
    border-right: 1px solid #3b3b3b; }
    .admin-case__item:nth-child(2n) {
      border-right: none; }
    .admin-case__item:hover {
      background-color: #ffffff;
      border-color: #ffffff; }
      .admin-case__item:hover .admin-case__edit {
        opacity: 1; }
      .admin-case__item:hover .admin-case__name {
        color: #000; }
    @media only screen and (max-width: 560px) {
      .admin-case__item {
        width: 100%;
        border-right: none; } }
  .admin-case__preview {
    position: relative;
    padding-top: 45.92%;
    margin-bottom: 8.16%;
    height: 15vh; }
    .admin-case__preview::before {
      content: '';
      position: absolute;
      top: 25%;
      left: 25%;
      width: 50%;
      height: 50%;
      background-image: url(/img/images-interface-symbol.svg);
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: contain;
              background-size: contain; }
  .admin-case__edit {
    width: 3.3rem;
    height: 3.1rem;
    opacity: 0;
    -webkit-transition: ease-out .25s;
    -o-transition: ease-out .25s;
    transition: ease-out .25s;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 9.64%;
    margin-right: 8.12%;
    background: url("/img/admin/edit.svg") 0 0 no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }
    @media only screen and (max-width: 560px) {
      .admin-case__edit {
        opacity: 1;
        margin-bottom: 5.64%;
        margin-right: 5.12%; } }
  .admin-case__name {
    display: block;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: ease-out .25s;
    -o-transition: ease-out .25s;
    transition: ease-out .25s;
    white-space: nowrap;
    font-size: 1.5rem;
    padding-right: 21.15%;
    color: #fff;
    line-height: 2.8rem;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis; }
  .admin-case__info {
    font-size: 1.2rem;
    line-height: 2.8rem;
    color: #a3a3a3;
    padding-right: 21.15%;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis; }
  .admin-case__border {
    text-decoration: underline;
    color: #a3a3a3;
    text-decoration-skip-ink: none; }

.base {
  height: 100%;
  position: relative;
  border-top: 1px solid #3b3b3b; }
  @media only screen and (max-width: 560px) {
    .base {
      border: none;
      margin-top: .2rem; } }
  .base__empty {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    opacity: 0;
    -webkit-transition: ease-out .3s;
    -o-transition: ease-out .3s;
    transition: ease-out .3s;
    visibility: hidden; }
    .base__empty.js-show {
      opacity: 1;
      visibility: visible; }
  .base__empty-icon {
    width: 11.4rem;
    display: inline-block;
    margin-bottom: 2rem; }
    .base__empty-icon img {
      width: 100%; }
  .base__empty-text {
    font-size: 1.6rem;
    line-height: 1.2em;
    color: #6a6a6a; }

.admin__mobile-head {
  display: none; }
  @media only screen and (max-width: 560px) {
    .admin__mobile-head {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.admin__language-list {
  margin: 20px 0; }

.admin__language-item:not(:last-child):after {
  content: '/';
  display: inline-block;
  vertical-align: middle;
  font-size: 1.8rem;
  margin: 0 20px;
  color: #656565; }

.admin__radio {
  display: inline-block;
  vertical-align: middle;
  cursor: url("/img/cursor_white.png") 27 27, pointer; }

.admin__radio-input {
  display: none; }
  .admin__radio-input:checked + .admin__radio-text {
    color: #c4004b;
    border-color: #c4004b; }

.admin__radio-text {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #656565;
  line-height: 1.4em;
  display: block;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  padding: 1rem 0;
  border-bottom: 1px solid transparent; }

.admin__row {
  height: 100vh;
  border-right: 1px solid #3b3b3b;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media only screen and (max-width: 560px) {
    .admin__row {
      border-left: 1px solid #3b3b3b; } }

.admin__cell {
  vertical-align: top; }
  .admin__cell_sidebar {
    width: 29.23%; }
  .admin__cell_content {
    width: 70.77%; }
  @media only screen and (max-width: 560px) {
    .admin__cell {
      width: 100%; }
      .admin__cell_sidebar {
        display: none; } }

.admin__part {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .admin__part_middle {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.button {
  text-align: left; }
  .button:after {
    text-align: center; }

.admin-modal {
  padding-top: 8rem;
  padding-bottom: 9rem;
  background-color: #000; }
  @media only screen and (max-width: 560px) {
    .admin-modal .modal__content {
      padding: 5vh 20vw 0vh 2.5vw; } }
  .admin-modal__button-parent {
    width: 48.57%;
    margin-right: 13.57%; }
    @media only screen and (max-width: 560px) {
      .admin-modal__button-parent {
        width: 100%;
        margin-right: 0; } }
  .admin-modal__close {
    margin-bottom: 0; }
  .admin-modal__default {
    padding: 0; }
  .admin-modal__column {
    margin-right: 4.53%;
    vertical-align: bottom;
    width: 47.73%; }
    .admin-modal__column:nth-child(2n) {
      margin-right: 0; }
    @media only screen and (max-width: 560px) {
      .admin-modal__column {
        width: 100%;
        margin-right: 0; } }
  .admin-modal__cell {
    width: 48.48%;
    vertical-align: top;
    margin-right: 3.04%; }
    .admin-modal__cell_middle {
      vertical-align: middle; }
    .admin-modal__cell:nth-child(2n) {
      margin-right: 0; }
    @media only screen and (max-width: 560px) {
      .admin-modal__cell {
        width: 100%;
        margin-right: 0; }
        .admin-modal__cell:not(:last-child) {
          margin-bottom: 2.7rem; } }
  .admin-modal__row:not(:last-child) {
    margin-bottom: 2.7rem; }
  .admin-modal__row_small:not(:last-child) {
    margin-bottom: 1.7rem; }
  @media only screen and (max-width: 560px) {
    .admin-modal__row {
      margin-bottom: 2.7rem !important; } }
  .admin-modal__link {
    padding-right: 0;
    padding-left: 3.8rem; }
    .admin-modal__link .link-with-arrow__icon {
      width: 2.1rem;
      margin-top: -1.3rem;
      right: auto;
      left: 0;
      -webkit-transform: none !important;
          -ms-transform: none !important;
              transform: none !important; }
  .admin-modal__preview {
    position: relative;
    height: 19.8rem;
    background-color: #161616; }
    .admin-modal__preview::before {
      content: '';
      position: absolute;
      width: 50%;
      height: 50%;
      left: 25%;
      top: 25%;
      background-image: url("/img/images-interface-symbol.svg");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: contain;
              background-size: contain; }
    @media only screen and (max-width: 560px) {
      .admin-modal__preview {
        height: 14.8rem; } }

.js-language-input {
  display: none; }
  .js-language-input.js-current {
    display: block; }
